@charset "utf-8";

/* Global Styles */
/* -------------------------------------------- */
body {
	margin: 0;
	color: #edeeef;
	font-family: Georgia, serif;
}

img {
	width: 1000px;
	max-width: 100%;
}

a {
	color: white;
	font-style: italic;
	font-size: .8em;
}

p {
	margin: .5em auto;
}

li {
	margin-left: 2%;
}
/* -------------------------------------------- */


/* Styling classes */
/* -------------------------------------------- */
.clear {
	clear: both;
}

.i {
	font-style: italic;
}

.left {
	clear: both;
	font-weight: bold;
	width: 15%;
	float: left;
	font-variant: small-caps;
}

.right {
	width: 83%;
	float: right;
	padding-bottom: 5px;
	padding-right: 20px;
}
/* -------------------------------------------- */


/* Text styling */
/* -------------------------------------------- */
h1 {
	font-size: 4em;
	margin-bottom: 0;
	padding-bottom: 0;
	text-shadow: 0px 0px 4px rgba(255,255,255,0.7);
}

h2 {
	margin-top: 0;
	padding-top: .5%;
	font-size: 2em;
	margin-bottom: .5em;
}

h3 {
	margin-top: 0;
	margin-bottom: .5em;
	font-variant: small-caps;
	text-decoration: underline;
}

article div, p, li {
	font-family: Encode Sans, sans-serif;
}
/* -------------------------------------------- */




/* Specific Styles */
header, section, footer {
	min-height: 160px;
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.header {
	background: #00B9AE;
	padding-top: 10%;
	text-align: center;
}

/* Nav Styling */
/* -------------------------------------------- */
nav {
	margin-top: 1em;
}

/* Removes bullets, sets inline/horizontal nav menu */
nav ul {		
    list-style: none; 
    padding:0;
    margin:0;
	display: inline-block;
}

/* Makes each first level list item float left, and removes inherit margin */
/* Works differently than setting as an inline-block would. */
nav ul li { 	
    float: left;
	margin-left: 0;
}

/* Sets styling for the first-level menu items as anchor tags */
nav ul li a {	
	display: block;
    background-color: #E7EFEB;
    padding: 10px;
    text-decoration: none;
    color: #037171;
    width: 120px; 
}

/* Hides dropdown when not hovered */
nav li ul {		
    display: none;
}

/* Shows the dropdown menu when hovering over first-level menu item */
nav li:hover ul {
    display: block; 
    position: absolute; 
}

/* Removes floats from the dropdown list items when the dropdown menu is hovered over */
nav li:hover li {
    float: none; 
}

/* Sets style coloring for dropdown menu */
nav li:hover a {
    background-color: #F6F7F7; 
	color: #303030;
}

/* When a dropdown menu is hovered over, sets the top level color style */
nav li:hover .dropdown-menu {
	background: deepskyblue;
	color: #303030;
}

/* Sets style coloring for hover focus in dropdown menu items */
nav ul li a:hover {	
    background: deepskyblue;
    color: white;
}

/* When a dropdown menu is hovered over, and the top level item is hovered, sets style */
nav li:hover .dropdown-menu:hover {
	color: white;
	background-color: deepskyblue;
}
/* End Nav Styling */
/* -------------------------------------------- */

.projects {
	background: #037171;
}

.projects article {
	margin-bottom: 2.8em;
}

.projects article:last-of-type {
	margin-bottom: 0;
}

figure {
	text-align: center;
}

figcaption {
	margin-top: .5%;
}

figure a {
	padding: 6px 20%;
	background-color: #DAE7E1;
	color: black;
	border-radius: 2px;
	text-decoration: none;
}

figure a:hover {
	background-color: #ECEFEE;
}

figure a:visited {
	color: #037171;
}

.edu {
	background: #03312E; 
}

.certs {
	background: #02C3BD;
}

.work-exp {
	background: #009F93;
}

.work-exp h3 {
	margin-bottom: 0;
}

.work-exp p {
	margin-top: .5em;
}

.footer {
	background: #022B3A;
}

footer {
	padding-bottom: 0;
}

footer a:hover, footer a:focus, footer a:active {
	font-size: .85em;	
}


@media only screen and (max-width: 500px) {
	figure a {
		padding: 3px 5px;
	}
}


@media only screen and (max-width: 1150px) {
	header, section, footer {
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
	}
	h1 {
		font-size: 3em;
	}
}